In [3]:
import numpy as numpy
import pandas as pd

In [4]:
df =pd.read_csv("DataNeuron_Text_Similarity.csv")
df.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [5]:
df.describe()

,text1,text2
count,3000,3000
unique,1277,1256
top,stars pay tribute to actor davis hollywood sta...,edwards tips idowu for euro gold world outdoor...
freq,9,12

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text1   3000 non-null   object
 1   text2   3000 non-null   object
dtypes: object(2)
memory usage: 47.0+ KB

In [7]:
df.isnull().sum()

text1    0
text2    0
dtype: int64

In [10]:
df['text1']=df['text1'].str.lower()

In [11]:
df['text2']=df['text2'].str.lower()

In [12]:
df

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...
...,...,...
2995,uk directors guild nominees named martin scors...,steel firm to cut 45 000 jobs mittal steel ...
2996,u2 to play at grammy awards show irish rock ba...,israel looks to us for bank chief israel has a...
2997,pountney handed ban and fine northampton coach...,india and iran in gas export deal india has si...
2998,belle named best scottish band belle & sebas...,mido makes third apology ahmed mido hossam h...
2999,criminal probe on citigroup deals traders at u...,former ni minister scott dies former northern ...

In [28]:
df['text2'][0]

'gardener wins double in glasgow britain s jason gardener enjoyed a double 60m success in glasgow in his first competitive outing since he won 100m relay gold at the athens olympics.  gardener cruised home ahead of scot nick smith to win the invitational race at the norwich union international. he then recovered from a poor start in the second race to beat swede daniel persson and italy s luca verdecchia. his times of 6.61 and 6.62 seconds were well short of american maurice greene s 60m world record of 6.39secs from 1998.  it s a very hard record to break  but i believe i ve trained very well   said the world indoor champion  who hopes to get closer to the mark this season.  it was important to come out and make sure i got maximum points. my last race was the olympic final and there was a lot of expectation.  this was just what i needed to sharpen up and get some race fitness. i m very excited about the next couple of months.   double olympic champion  marked her first appearance on home soil since winning 1500m and 800m gold in athens with a victory. there was a third success for britain when  edged out russia s olga fedorova and sweden s jenny kallur to win the women s 60m race in 7.23secs. maduaka was unable to repeat the feat in the 200m  finishing down in fourth as  took the win for russia. and the 31-year-old also missed out on a podium place in the 4x200m relay as the british quartet came in fourth  with russia setting a new world indoor record. there was a setback for jade johnson as she suffered a recurrence of her back injury in the long jump. russia won the meeting with a final total of 63 points  with britain second on 48 and france one point behind in third.  led the way for russia by producing a major shock in the high jump as he beat olympic champion stefan holm into second place to end the swede s 22-event unbeaten record.  won the triple jump with a leap of 16.87m  with britain s tosin oke fourth in 15.80m.  won the men s pole vault competition with a clearance of 5.65m  with britain s nick buckfield 51cm adrift of his personal best in third. and  won the women s 800m  with britain s jenny meadows third. there was yet another russian victory in the women s 400m as  finished well clear of britain s catherine murphy. chris lambert had to settle for fourth after fading in the closing stages of the men s 200m race as sweden s  held off leslie djhone of france. france s  won the men s 400m  with brett rund fourth for britain.  took victory for sweden in the women s 60m hurdles ahead of russia s irina shevchenko and britain s sarah claxton  who set a new personal best. italy grabbed their first victory in the men s 1500m as  kicked over the last 200 metres to hold off britain s james thie and france s alexis abraham. a botched changeover in the 4x200m relay cost britain s men the chance to add further points as france claimed victory.'

In [13]:
df.columns

Index(['text1', 'text2'], dtype='object')

In [14]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

a:\TASK SIMILIARITY\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
a:\TASK SIMILIARITY\env\Lib\site-packages\huggingface_hub\file_download.py:142: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\vicky kumar\.cache\huggingface\hub\models--sentence-transformers--all-MiniLM-L6-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

In [15]:
text1_embeddings = model.encode(df['text1'].tolist(), convert_to_tensor=True)
text2_embeddings = model.encode(df['text2'].tolist(), convert_to_tensor=True)

In [16]:
print(model)

SentenceTransformer(
  (0): Transformer({'max_seq_length': 256, 'do_lower_case': False}) with Transformer model: BertModel
  (1): Pooling({'word_embedding_dimension': 384, 'pooling_mode_cls_token': False, 'pooling_mode_mean_tokens': True, 'pooling_mode_max_tokens': False, 'pooling_mode_mean_sqrt_len_tokens': False, 'pooling_mode_weightedmean_tokens': False, 'pooling_mode_lasttoken': False, 'include_prompt': True})
  (2): Normalize()
)

In [18]:
print(text1_embeddings)

tensor([[ 0.0251, -0.1229,  0.0115,  ..., -0.0723, -0.0583,  0.0373],
        [ 0.0221,  0.0017, -0.1483,  ..., -0.0583,  0.0943, -0.0466],
        [-0.0492,  0.0711,  0.0267,  ..., -0.1078,  0.0378,  0.0261],
        ...,
        [ 0.0045,  0.0351, -0.0005,  ..., -0.0300,  0.0134, -0.0492],
        [-0.0428, -0.0857, -0.0002,  ..., -0.1155,  0.0483,  0.0072],
        [-0.0908, -0.0040, -0.0576,  ..., -0.1005, -0.0066,  0.0306]])

In [21]:
print(text2_embeddings)

tensor([[-0.0382,  0.0024, -0.0259,  ..., -0.1191, -0.0926,  0.0380],
        [-0.0966,  0.0913, -0.0786,  ..., -0.0400, -0.0382,  0.0013],
        [-0.0504,  0.0819, -0.0460,  ...,  0.0247,  0.0017,  0.0653],
        ...,
        [-0.0782, -0.0102, -0.0039,  ..., -0.0317,  0.0285,  0.0214],
        [-0.0247,  0.1061,  0.0875,  ...,  0.0319, -0.0726, -0.0318],
        [ 0.0767, -0.0574, -0.0669,  ..., -0.0389, -0.0418, -0.0441]])

In [22]:
similarities = cosine_similarity(text1_embeddings.cpu().numpy(), text2_embeddings.cpu().numpy())

# Extract diagonal values (pairwise similarity)
df['similarity_score'] = [similarities[i, i] for i in range(len(df))]

In [24]:
def compute_similarity(text1, text2, model):
    text1_embedding = model.encode([text1], convert_to_tensor=True)
    text2_embedding = model.encode([text2], convert_to_tensor=True)
    
    similarity = cosine_similarity(text1_embedding.cpu().numpy(), text2_embedding.cpu().numpy())
    return similarity[0][0]

# Example
similarity_score = compute_similarity("nuclear body seeks new tech .", "terror suspectsface arrest", model)
print(f"Semantic Similarity: {similarity_score:.4f}")

Semantic Similarity: -0.0654

In [ ]:
import numpy as np
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

def compute_similarity(text1, text2, model):
    text1_embedding = model.encode([text1], convert_to_tensor=True)
    text2_embedding = model.encode([text2], convert_to_tensor=True)
    
    similarity = cosine_similarity(text1_embedding.cpu().numpy(), text2_embedding.cpu().numpy())[0][0]
    
    # Normalize similarity to be between 0 and 1
    normalized_similarity = (similarity + 1) / 2
    return normalized_similarity

# Load model
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

# Example
similarity_score = compute_similarity(
'broadband challenges tv viewing the number of europeans with broadband has exploded over the past 12 months  with the web eating into tv viewing habits  research suggests.  just over 54 million people are hooked up to the net via broadband  up from 34 million a year ago  according to market analysts nielsen/netratings. the total number of people online in europe has broken the 100 million mark. the popularity of the net has meant that many are turning away from tv  say analysts jupiter research. it found that a quarter of web users said they spent less time watching tv in favour of the net  the report by nielsen/netratings found that the number of people with fast internet access had risen by 60% over the past year.  the biggest jump was in italy  where it rose by 120%. britain was close behind  with broadband users almost doubling in a year. the growth has been fuelled by lower prices and a wider choice of always-on  fast-net subscription plans.  twelve months ago high speed internet users made up just over one third of the audience in europe; now they are more than 50% and we expect this number to keep growing   said gabrielle prior  nielsen/netratings analyst.  as the number of high-speed surfers grows  websites will need to adapt  update and enhance their content to retain their visitors and encourage new ones.  the total number of europeans online rose by 12% to 100 million over the past year  the report showed  with the biggest rise in france  italy  britain and germany.  the ability to browse web pages at high speed  download files such as music or films and play online games is changing what people do in their spare time.  a study by analysts jupiter research suggested that broadband was challenging television viewing habits. in homes with broadband  40% said they were spending less time watching tv. the threat to tv was greatest in countries where broadband was on the up  in particular the uk  france and spain  said the report. it said tv companies faced a major long-term threat over the next five years  with broadband predicted to grow from 19% to 37% of households by 2009.  year-on-year we are continuing to see a seismic shift in where  when and how europe s population consume media for information and entertainment and this has big implications for tv  newspaper and radio   said jupiter research analyst olivier beauvillian.', 
'gardener wins double in glasgow britain s jason gardener enjoyed a double 60m success in glasgow in his first competitive outing since he won 100m relay gold at the athens olympics.  gardener cruised home ahead of scot nick smith to win the invitational race at the norwich union international. he then recovered from a poor start in the second race to beat swede daniel persson and italy s luca verdecchia. his times of 6.61 and 6.62 seconds were well short of american maurice greene s 60m world record of 6.39secs from 1998.  it s a very hard record to break  but i believe i ve trained very well   said the world indoor champion  who hopes to get closer to the mark this season.  it was important to come out and make sure i got maximum points. my last race was the olympic final and there was a lot of expectation.  this was just what i needed to sharpen up and get some race fitness. i m very excited about the next couple of months.   double olympic champion  marked her first appearance on home soil since winning 1500m and 800m gold in athens with a victory. there was a third success for britain when  edged out russia s olga fedorova and sweden s jenny kallur to win the women s 60m race in 7.23secs. maduaka was unable to repeat the feat in the 200m  finishing down in fourth as  took the win for russia. and the 31-year-old also missed out on a podium place in the 4x200m relay as the british quartet came in fourth  with russia setting a new world indoor record. there was a setback for jade johnson as she suffered a recurrence of her back injury in the long jump. russia won the meeting with a final total of 63 points  with britain second on 48 and france one point behind in third.  led the way for russia by producing a major shock in the high jump as he beat olympic champion stefan holm into second place to end the swede s 22-event unbeaten record.  won the triple jump with a leap of 16.87m  with britain s tosin oke fourth in 15.80m.  won the men s pole vault competition with a clearance of 5.65m  with britain s nick buckfield 51cm adrift of his personal best in third. and  won the women s 800m  with britain s jenny meadows third. there was yet another russian victory in the women s 400m as  finished well clear of britain s catherine murphy. chris lambert had to settle for fourth after fading in the closing stages of the men s 200m race as sweden s  held off leslie djhone of france. france s  won the men s 400m  with brett rund fourth for britain.  took victory for sweden in the women s 60m hurdles ahead of russia s irina shevchenko and britain s sarah claxton  who set a new personal best. italy grabbed their first victory in the men s 1500m as  kicked over the last 200 metres to hold off britain s james thie and france s alexis abraham. a botched changeover in the 4x200m relay cost britain s men the chance to add further points as france claimed victory.'    
    , model)
print(f"Semantic Similarity: {similarity_score:.4f}")

Semantic Similarity: 0.5431

In [1]:
from wordllama import WordLlama

class WordLlamaController:
    def __init__(self):
        self.model = WordLlama()  # Initialize WordLlama

    def compute_similarity(self, text1: str, text2: str):
        """Check available methods in WordLlama"""
        print(dir(self.model))  # Print available methods
        return self.model.similarity(text1, text2)  # Might need correction

In [3]:
print(dir(WordLlamaController))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'compute_similarity']

In [5]:
from wordllama import WordLlama

# Load the default WordLlama model
wl = WordLlama.load()

# Define your texts
text1 = """broadband challenges tv viewing the number of europeans with broadband has exploded over the past 12 months 
with the web eating into tv viewing habits research suggests. just over 54 million people are hooked up to the net 
via broadband up from 34 million a year ago according to market analysts nielsen/netratings. the total number of 
people online in europe has broken the 100 million mark. the popularity of the net has meant that many are turning 
away from tv say analysts jupiter research."""

text2 = """gardener wins double in glasgow britain s jason gardener enjoyed a double 60m success in glasgow in his first 
competitive outing since he won 100m relay gold at the athens olympics. gardener cruised home ahead of scot nick smith 
to win the invitational race at the norwich union international."""

# Compute similarity
similarity_score = wl.similarity(text1, text2)

# Print result
print("Similarity Score:", similarity_score)

Similarity Score: 0.025584951043128967

In [7]:
from wordllama import WordLlama
import numpy as np  # For sigmoid function

# Load the model
wl = WordLlama.load()

# Define your texts
text1 = """I love you """

text2 = """you are loved by me."""

# Compute raw similarity score
raw_score = wl.similarity(text1, text2)

# Normalize using sigmoid to bring it between 0 and 1
normalized_score = 1 / (1 + np.exp(-raw_score))

# Print results
print(f"Raw Similarity Score: {raw_score}")
print(f"Normalized Score (0 to 1): {normalized_score:.4f}")

Raw Similarity Score: 0.5959986448287964
Normalized Score (0 to 1): 0.6447

In [8]:
import torch
import numpy as np
from transformers import AutoTokenizer, AutoModel

def get_device():
    """Get the appropriate device (CPU or CUDA) based on availability."""
    return torch.device("cuda" if torch.cuda.is_available() else "cpu")

def mean_pooling(model_output, attention_mask):
    """Perform mean pooling on token embeddings."""
    token_embeddings = model_output.last_hidden_state
    input_mask_expanded = attention_mask.unsqueeze(-1).expand(token_embeddings.size()).float()
    return torch.sum(token_embeddings * input_mask_expanded, 1) / torch.clamp(input_mask_expanded.sum(1), min=1e-9)

def cosine_similarity(vec1: np.ndarray, vec2: np.ndarray) -> float:
    """Calculate cosine similarity between two vectors."""
    return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))

class STSModel:
    """Semantic Textual Similarity Model using Transformer-based embeddings."""
    
    def __init__(self, model_name: str = "sentence-transformers/all-mpnet-base-v2"):
        self.device = get_device()
        self.tokenizer = AutoTokenizer.from_pretrained(model_name)
        self.model = AutoModel.from_pretrained(model_name).to(self.device)
        self.model.eval()
    
    def encode(self, texts):
        """Generate embeddings for the input text(s)."""
        if isinstance(texts, str):
            texts = [texts]
        inputs = self.tokenizer(texts, padding=True, truncation=True, max_length=512, return_tensors="pt").to(self.device)
        with torch.no_grad():
            outputs = self.model(**inputs)
        return mean_pooling(outputs, inputs['attention_mask']).cpu().numpy()
    
    def compute_similarity(self, text1: str, text2: str) -> float:
        """Compute the semantic similarity between two texts."""
        embeddings = self.encode([text1, text2])
        return float(cosine_similarity(embeddings[0], embeddings[1]))

def main():
    """Command-line interface to test the similarity model."""
    model = STSModel()
    print("Semantic Textual Similarity Model Loaded.")
    
    while True:
        text1 = input("Enter first text (or 'exit' to quit): ")
        if text1.lower() == 'exit':
            break
        text2 = input("Enter second text: ")
        similarity = model.compute_similarity(text1, text2)
        print(f"Similarity Score: {similarity:.4f}\n")

if __name__ == "__main__":
    main()

a:\TASK SIMILIARITY\env\Lib\site-packages\huggingface_hub\file_download.py:142: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\vicky kumar\.cache\huggingface\hub\models--sentence-transformers--all-mpnet-base-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Semantic Textual Similarity Model Loaded.
Similarity Score: 0.8604

Similarity Score: 0.2810